@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');
@tailwind base;

.button {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

* {
    font-family: Helvitica, Sans-Serif;
}

@media (prefers-color-scheme: light) {
    * {
        color: black;
        background: #FFFAF0;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .button:hover, .button:hover * {
        background:  #e3eaf7;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
        background: #2E3B31;
    }
    a {
        color: white;
        text-decoration: none;
    }
    .button {
        background: #2E3B31;
        &:hover, &:hover * {
            background: #2e2e2e;
        }
    }

}
