.container {
    display: flex;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    min-width: fit-content;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.tab {
    flex: initial;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.menu, .mobile{
    display: none;
}

.current {
    pointer-events: none;
}

@media (prefers-color-scheme: light) {
    .container, .container * {
        background: #F3E9D6;
    }
    .current {
        color: #00761e;
    }
    .tab:hover {
        color: #00761e;
    }
}

@media (prefers-color-scheme: dark) {
    .container, .container * {
        background: #152519;
    }
    .current {
        color: #eed29e;
    }
    .tab:hover {
        color: #eed29e;
    }
}

@media (max-width: 35rem) {
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
        * {
            font-size: 1.5rem;
        }
    }
    .tabs {
        display: none;
    }
    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        flex-direction: column;
        margin: 0.5rem 0;
        align-items: flex-start;
    }
    .tab {
        margin: 0rem 1rem;
    }
}