.container {
    display: flex;
    padding: 4rem 0rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.frame{
    display: flex;
    width: 34rem;
    height: 34rem;
    border-radius: 17rem;
    justify-content: flex-end;
    align-items: center;
    padding: 0.25rem;
}

.image {
    background: none;
}

.text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.heading {
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 600;
}

.textbox {
    margin: 2rem 0 2rem 2rem;
    text-align: left;
    max-width: 16rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 4rem 1rem;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    margin: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 16rem;
    min-width: 12rem;
    min-height: 12rem;
    * {
        background: none;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.desc {
    padding-top: 1rem;
}

@media (max-width: 52rem) {
    .container {
        flex-direction: column;
    }
    .text {
        margin-top: 4rem;
    }
    .button {
        padding: 2rem 1rem 1rem 1rem;
        margin: 0.5rem 0.25rem;
    }
}

@media (max-width: 35rem) {
    .frame{
        width: 26rem;
        height: 26rem;
        border-radius: 13rem;
        padding: 1rem 0.25rem 1rem 1.75rem;
    }
    .links {
        flex-direction: column;
    }
    .button {
        max-width: 20rem;
        padding: 2rem;
    }
}

@media (prefers-color-scheme: light) {
    .button {
        background-color: #E9DABF;
    
        &:hover {
            background: #c6c6c6;
        }
    }
    .frame {
        background-color: #C5B69B;
    }
}

@media (prefers-color-scheme: dark) {
    .button {
        background-color: #0D2C0E;
    
        &:hover {
            background: #3f3f3f;
        }
    }
    .frame {
        background-color: #162319;
    }
}
