.container {
    display: flex;
    padding: 6rem 0rem 6rem 0rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.image {
    flex: initial;
}

.text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
}

.textbox {
    margin: 2rem 0rem 2rem 2rem;
    text-align: left;
    max-width: 16rem;
}

@media (max-width: 42rem) {
    .container {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .button:hover, .button:hover * {
        background: #3f3f3f;
    }
}
